body, h1, h2, p, a {
  margin: 0;
  padding: 0;
}
/* CSS for top_head Section */
.top_head {
  background-color: #f8f9fa; /* Light grey background */
}
.social-media{
  margin-left: 150px;
}
.social-media img {
  height: 35px;
}

.topright {
  display: flex;
  align-items: center;
}

.topright a,
.separator,
.changer,
.languagechanger {
  margin-left: 5px;
  text-decoration: none;
  color: #333;
}

.languagechanger {
  background-color: #FFA07A; 
  color: #FFFFFF;
  padding: 5px 10px; 
  border: none; 
  text-decoration: none; 
  display: inline-block; 
}

.languagechanger:hover {
  background-color: #FF8C00; 
}

.sizechanger a{
  margin: 0 5px;
}

.separator {
  margin: 0 10px;
}

/* CSS for top_middle Section */
.top_middle {
  background-color: #ffdcbc; /* Light grey background */
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.nav-container{
  height: 5rem;
}
.Site-logo{
  display: flex;
  margin-left: 0;
}
.Site-logo img {
  width: 30rem;
  height: 28rem;
  padding-top: 50px;
  margin-left: -48px;
}

.moto {
  margin-left: -120px;
  flex-grow: 1;
}

.moto {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.2;
  color: #333;
  border-right: 4px solid #333; /* Cursor effect */
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; } /* 100% width of the container */
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #333; }
}

/*------------------search bar----------------*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #0c0c0c;
  border-left: none;
  padding: 15px;
  height: 20px;
  border-radius: 0 5px 5px 0;
  outline: none;
  color: #080808;
}

.searchTerm:focus{
  color: #080808;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #050505;
  background: #131414;
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/

.wrap{
  width: 22%;
  position: relative;
 padding-top: -100px;
  transform: translate(40%, 5%);
}

.part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  margin-right: 7%;
}
.diff-site{
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
.part h2 {
  font-size: 2rem;
  align-items: center;
  margin: 0;
  color: #333;
  font-family: "Times New Roman", Times, serif;
}

.part a {
  text-decoration: none;
  color: #070707;
}

.part a:hover {
  text-decoration: underline;
}

.part .separator {
  margin: 0 5px;
  color: #6c757d;
}
