*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

.top_head {
  background-color: #f8f9fa; /* Light grey background */
}
.social-media{
  margin-left: 150px;
}
.social-media img {
  height: 35px;
}
.src{ 
 display: none;
}

.topright {
  display: flex;
  align-items: center;
  margin-right: 15%;  /* changes in the left and right directon for topright content */
}

.topright a,
.separator,
.changer,
.languagechanger {
  margin-left: 5px;
  text-decoration: none;
  color: #333;
}

.languagechanger {
  background-color: #FFA07A; 
  color: #FFFFFF;
  padding: 5px 10px; 
  border: none; 
  text-decoration: none; 
  display: inline-block; 
}

.languagechanger:hover {
  background-color: #FF8C00; 
}

.sizechanger a{
  margin: 0 5px;
}

.separator {
  margin: 0 10px;
}

/* CSS for top_middle Section */
.top_middle {
  background-color: #ffdcbc; /* Light grey background */
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.nav-container{
  height: 5rem;
}
.Site-logo{
  display: flex;
  margin-left: 0;
}
.Site-logo img {
  width: 30rem;
  height: 28rem;
  padding-top: 50px;
  margin-left: -48px;
}

.moto {
  margin-left: -120px;
  flex-grow: 1;
}

.moto {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  color: #333;
  border-right: 4px solid #333; /* Cursor effect */
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; } /* 100% width of the container */
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #333; }
}

/*------------------search bar----------------*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #0c0c0c;
  border-left: none;
  padding: 15px;
  height: 20px;
  border-radius: 0 5px 5px 0;
  outline: none;
  color: #080808;
}

.searchTerm:focus{
  color: #080808;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #050505;
  background: #131414;
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 20px;
}
/*Resize the wrap to see the search bar change!*/

.wrap{
  width: 22%;
  position: relative;
 padding-top: -100px;
  transform: translate(50%, 5%); /* changes for the search bar padding */
}

.part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: 18%; /* change the direction of most searched left to right */
}
.diff-site{
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
.part h2 {
  font-size: 2rem;
  align-items: center;
  margin: 0;
  color: #333;
  font-family: "Times New Roman", Times, serif;
}

.part a {
  text-decoration: none;
  color: #070707;
}

.part a:hover {
  text-decoration: underline;
}

.part .separator {
  margin: 0 5px;
  color: #6c757d;
}

/* Slider Portion */
#carouselExampleAutoplaying {
  height: 300px;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  width: 100%;
}

/* Content Portion */
.topic-header{
  display: flex;
  margin: 50px;
  padding-left: 6.2rem;
}
.topic-header h1{
  font-size: 2.5rem;
  margin: 0 0.5rem;
  font-weight: 700;
  color: #333;
}


.work-logo {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;

}

.work-logo ul {
  margin: 0 15rem;
  padding: 0;
  display: flex;
  position: absolute;
  top: 125%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.work-logo ul li {
  list-style: none;
  margin: 90rem 4.5rem; /* to increase or to deacrese the gap between the points */
}
 
.work-logo ul li a {
  position: relative; 
  display: block;
  width: 7rem;
  height: 7rem;
  text-align: center;
  text-decoration: none;
  line-height: 6.5rem;
  background: #64605a;
  border-radius: 50%;
  font-size: 3.5rem;
  color: #050505;
  transition: .8s;
}

.work-logo li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.work-logo ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.work-logo ul li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
.work-logo  span{
  color: #000000;
  font-size: 16px;
  margin: -1rem -10rem;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 600;
}

/* Service Provider Section */

.content-portion-2 h1 {
  margin: 0 5rem;
  margin-top: 13rem;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.containers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.image-container {
  width: 30%;
  margin-right: 50px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-container {
  width: 50%;
}

.text-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #050505;
}

.text-container p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 600;
}

.text-container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.text-container li {
  position: relative;
  margin-bottom: 10px;
  color: #080808;
  left: 2rem;
}

.text-container li::before {
  content: "\f005";
  font-family: FontAwesome;
  position: absolute;
  left: -20px;
  top: -4px;
  color: #000000;
}

.text-container button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
/* Important points for client portion */

.content-portion3 h1 {
  margin: 0 5rem;
  color: #333;
  margin-top: 50px;
  font-weight: 700;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.box1 {
  background-color: #fffefe;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: auto;
  margin: 4rem 5rem;
}
.box2 {
  background-color: #fffefe;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: auto;
  margin: -25.5rem 40rem;
}
.box h2 {
  color: #030303;
  margin-bottom: 20px;
  text-align: center;
}

.box ul {
  list-style: disc;
  margin-left: 20px;
  padding-left: 0;
}

.box li {
  margin-bottom: 10px;
  text-align: justify;
  font-size: 16px;
}

.box li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
 
}

/* About Portion */
.container3 {
  background-color: #fff;
  padding: 20px;
  margin: 28rem 5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  text-align: justify;
  
}

.container3 h1, h2 {
  margin: 0  -0.5rem;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 34px;
}

.container3 p {
  line-height: 1.6;
  margin-bottom: 10px;
  font-size: 20px;
}

.list {
  margin-top: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


/* cards contents */

.topic-header5{
display: flex;
margin: -24rem 5rem;
}
.topic-header5 h1{
  font-weight: 700;
color: #333;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  font-family: sans-serif;
}
#provider-cards{
  display: flex;
  margin: 5rem 5rem;
}
.container{
  display:flex;
  transition: all 0.3s ease-in;
  justify-content:space-evenly;
  flex-wrap:wrap;
}
.card-1{
  background-image: url("https://cdn.pixabay.com/photo/2020/09/18/22/05/man-5583034_1280.jpg");
}
.card-2{
  background-image: url("https://p1.pxfuel.com/preview/269/966/361/black-businessman-black-professional-professional-success-young-corporate.jpg");
}
.card-3{
  background-image: url(https://cdn.pixabay.com/photo/2024/05/29/08/03/ai-generated-8795643_960_720.jpg);
}
.card-4{
  background-image: url(https://cdn.pixabay.com/photo/2023/04/28/23/30/ai-generated-7957452_1280.png);
}
.card {
  position: relative;
  width: 16rem;
  margin-top:20rem; /* this one is used to reduce the gap btw heading and footer */
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
  background-size: cover;
  height: 22rem;
  transition: all 0.5s ease-in;
  overflow: hidden;
}
.card h2{
  font-size: 30px;
  font-weight: 700;
}
.card img {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 140px;
  background-color: #2b2b2b80;
  border: 1px solid #d3d3d37e;
  padding: 0px 10px;
  margin: 0px;
  transition: all 0.5s ease-in;
  color: white;
}
.heading {
  text-align: center;
  margin: 0px;
  letter-spacing: 2px;
  margin-top: 3px;
}
.address {
  font-size: 11px;
  color: lightgrey;
  text-align: center;
  margin-top: 3px;
}
.tag-head {
  font-size: 12px;
  margin: 0px;
  margin-top: 5px;
}
.tags {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 3px;
}
.tag {
  padding: 5px;
  font-size: 12px;
  border: 2px solid gray;
  border-radius: 3px;
  margin: 0px;
}
.bottom-panel {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.bottom-panel .section {
  text-align: center;
}
.bottom-panel .section p {
  margin: 10px 0;
  font-size: 13px;
}
.card:hover .overlay {
  top: -210px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  backdrop-filter: blur(2px);
}
.hidden h4 {
  margin: 8px 0px;
}
.abt-txt {
  margin: 0px;
  height: 90px;
  overflow-y: scroll;
  line-height: 20px;
  font-size: 11px !important;
}
.hidden p{
  margin:0px;
  margin-top:5px;
  line-height: 20px;
  font-size: 13px;
}
.badge-head{
  margin:5px 0px;
  
}
.badge{
  display:flex;
  margin-top:6px;
  justify-content:space-between;
}
.badge i {
  font-size:25px;
  color:gold;
}
.badge button{
  margin-top:10px;
  padding:5px 7px;
  border-radius:5px;
  transition:all 0.3s ease;
  border:1px solid grey;
  margin-bottom:10px;
}
.visit{
  margin-right:10px;
  background:lightgreen;
}
.visit:hover{
  color:white;
  background-color:green;
}
.chat{
  margin-right:10px;
  background:transparent;
  color:white;
}
.chat i{
  margin-left:5px;
}
.chat:hover{
  color:white;
  background-color:green;
}
/* footer portion */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: left;
 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  margin-right: 10px;
  width: 30%;
  height: auto;
}

.quick-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 text-align: left;
}

.quick-links a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.quick-links a:hover {
  text-decoration: underline;
}

/*---------Responsive----------*/


/*--------responsive-----*/
@media(max-width:570px){
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box; 
  }

.top_head { /* rep---------------------------*/
  background-color: #f8f9fa; /* Light grey background */
  width: 100%;
}
.social-media{
  margin-left: 0;
}
.social-media img {
  height: 35px;
}

.src{
  display: flex;
}

.topright {
  display: flex;
  align-items: center;
  margin-right: 1rem;  /* changes in the left and right directon for topright content */
}
.topright a,
.separator,
.changer,
.languagechanger { 
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}
.languagechanger:hover {
  background-color: #FF8C00; 
}
.separator, 
.login,
.languagechanger,
.sizechanger a{
  display: none;
}

/*---tophead middle portion----*/

.top_middle {
  background-color: #ffdcbc; /* Light grey background */
  padding: 50px 0;
  display: flex;
  align-items: center;
  width: 100%; /* rep---------------------------*/

}

 .nav-container{
  height: 5rem;
  width: 80%;
}
.Site-logo{
  display: flex;
  margin-left: 0;
}
.Site-logo img {
  width: 16rem;
  height: 17rem;
  padding-top: 50px;
  margin-left: -5rem;
}

.moto {
  font-size: 16px; 
  font-weight: 600;
  line-height: 2; 
  white-space: normal; 
  text-align: center;
  flex-grow: 1; 
  margin: 0 -4rem;
} 

/*-----search bar-----*/
.search {
  width: 80%;
  position: relative;
  display: flex;
}
.search-bar{
  width: 100%;/* rep---------------------------*/

}

.searchTerm:focus{
  color: #080808;
}
.searchButton {
  width: 50px;
  height: 36px;
  border: 1px solid #050505;
  background: #131414;
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 20px;
}
/*Resize the wrap to see the search bar change!*/

.wrap{
  width: 70%;
  position: relative;
 padding-top: -100px;
  transform: translate(20%, 5%); /* changes for the search bar padding */
}

.part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 0.5rem; /* change the direction of most searched left to right */
}
.diff-site{
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0  2rem;
}
.part h2 {
  font-size: 1.5rem;
  margin: 0 3rem;
}

.part a {
  text-decoration: none;
  color: #070707;
  padding: 5px;
}

.part a:hover {
  text-decoration: underline;
}

.part .separator {
  margin: 0 5px;
  color: #000000;
}
/*------slider-----*/
#carouselExampleAutoplaying {
  height: 150px;
  width: 100%;
}

.topic-header{
  display: flex;
  margin: 50px;
  padding-left: 0.5rem;
}
.topic-header h1{
  font-size: 2.5rem;
  margin: 0 0.5rem;
  font-weight: 700;
  color: #333;
}

.content-portion{
  width: 100%;
}
.work-logo {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.work-logo ul {
  margin: 0 1rem;
  padding: 0;
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  top: 130%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.work-logo ul li {
  list-style: none;
  margin: 50px 5rem; /* to increase or to deacrese the gap between the points */
}
 
.work-logo ul li a {
  position: relative; 
  display: block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  line-height: 3rem;
  background: #64605a;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #050505;
  transition: .8s;
}



.work-logo  span{
  color: #000000;
  font-size: 14px;
  margin: 0.2rem -6rem;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 600;
}

/*---------------------------*/

.content-portion-2 h1 {
  margin: 0 3rem;
  margin-top: 15rem;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.containers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.image-container {
  width: 40%;
  margin-right: 50px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-container {
  width: 50%;
}

.text-container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #050505;
  margin: 10px 2px;
}

.text-container p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 600;
  text-align: justify;
}

.text-container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.text-container li {
  position: relative;
  margin-bottom: 10px;
  color: #080808;
  left: -1rem;
}

.text-container li::before {
  content: "\f005";
  font-family: FontAwesome;
  position: absolute;
  left: -25px;
  top: 2px;
  color: #000000;
}

.text-container button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
/*-----------imp--------*/

.content-portion3 h1 {
  margin: 0 3rem;
  color: #333;
  margin-top: 50px;
  font-weight: 700;
  font-size: 36px;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.box1 {
  background-color: #fffefe;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 5%;
  margin: 4rem 3rem;
}
.box2 {
  background-color: #fffefe;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 8%;
  margin: -30.5rem 20rem;
}
.box h2 {
  color: #030303;
  margin-bottom: 20px;
  text-align: center;
}

.box ul {
  list-style: disc;
  margin-left: 20px;
  padding-left: 0;
}

.box li {
  margin-bottom: 10px;
  text-align: justify;
  font-size: 12px;
}

.box li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
 
}

/* About Portion */
.container3 {
  background-color: #fff;
  padding: 20px;
  margin: 38rem 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  text-align: justify;
  
}

.container3 h1, h2 {
  margin: 0  -0.5rem;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
}

.container3 p {
  line-height: 1.6;
  margin-bottom: 10px;
  font-size: 16px;
}

.list {
  margin-top: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/*---------cards------*/
.topic-header5{
  display: flex;
  margin: -20rem 3rem;
  }
  .topic-header5 h1{
    font-weight: 700;
  color: #333;
  margin: -14rem 0;
  }

#provider-cards{
  margin: 10rem 0.1rem;
  
}
.container{
  display:grid;
  transition: all 0.3s ease-in;
  justify-content:space-evenly;
  flex-wrap:wrap;
  grid-template-columns: 1fr 1fr;
}
.card {
  position: relative;
  width: 16rem;
  margin-top:4rem; /* this one is used to reduce the gap btw heading and footer */
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
  background-size: cover;
  height: 22rem;
  transition: all 0.5s ease-in;
  overflow: hidden;
}
.card h2{
  font-size: 30px;
  font-weight: 700;
}
.card img {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 140px;
  background-color: #2b2b2b80;
  border: 1px solid #d3d3d37e;
  padding: 0px 10px;
  margin: 0px;
  transition: all 0.5s ease-in;
  color: white;
}
.heading {
  text-align: center;
  margin: 0px;
  letter-spacing: 2px;
  margin-top: 3px;
}
.address {
  font-size: 11px;
  color: lightgrey;
  text-align: center;
  margin-top: 3px;
}
.tag-head {
  font-size: 12px;
  margin: 0px;
  margin-top: 5px;
}
.tags {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 3px;
}
.tag {
  padding: 5px;
  font-size: 12px;
  border: 2px solid gray;
  border-radius: 3px;
  margin: 0px;
}
.bottom-panel {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.bottom-panel .section {
  text-align: center;
}
.bottom-panel .section p {
  margin: 10px 0;
  font-size: 13px;
}
.card:hover .overlay {
  top: -210px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  backdrop-filter: blur(2px);
}
.hidden h4 {
  margin: 8px 0px;
}
.abt-txt {
  margin: 0px;
  height: 90px;
  overflow-y: scroll;
  line-height: 20px;
  font-size: 11px !important;
}
.hidden p{
  margin:0px;
  margin-top:5px;
  line-height: 20px;
  font-size: 13px;
}
.badge-head{
  margin:5px 0px;
  
}
.badge{
  display:flex;
  margin-top:6px;
  justify-content:space-between;
}
.badge i {
  font-size:25px;
  color:gold;
}
.badge button{
  margin-top:10px;
  padding:5px 7px;
  border-radius:5px;
  transition:all 0.3s ease;
  border:1px solid grey;
  margin-bottom:10px;
}
.visit{
  margin-right:10px;
  background:lightgreen;
}
.visit:hover{
  color:white;
  background-color:green;
}
.chat{
  margin-right:10px;
  background:transparent;
  color:white;
}
.chat i{
  margin-left:5px;
}
.chat:hover{
  color:white;
  background-color:green;
}
 /*----------footer------*/

 footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: left;
 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  margin-right: 10px;
  width: 30%;
  height: auto;
}

.quick-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 text-align: left;
}

.quick-links a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.quick-links a:hover {
  text-decoration: underline;
}

}

@media(max-width:396px){
  *{
    margin:0px;
    padding:0px;
    box-sizing:border-box; 
  }

.top_head { /* rep---------------------------*/
  background-color: #f8f9fa; /* Light grey background */
  width: 100%;
}
.social-media{
  margin-left: 0;
}
.social-media img {
  height: 35px;
}

.src{
  display: flex;
}

.topright {
  display: flex;
  align-items: center;
  margin-right: 1rem;  /* changes in the left and right directon for topright content */
}
.topright a,
.separator,
.changer,
.languagechanger { 
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}
.languagechanger:hover {
  background-color: #FF8C00; 
}
.separator, 
.login,
.languagechanger,
.sizechanger a{
  display: none;
}

/*---tophead middle portion----*/

.top_middle {
  background-color: #ffdcbc; /* Light grey background */
  padding: 50px 0;
  display: flex;
  align-items: center;
  width: 100%; /* rep---------------------------*/

}

 .nav-container{
  height: 5rem;
  width: 80%;
}
.Site-logo{
  display: flex;
  margin-left: 0;
}
.Site-logo img {
  width: 16rem;
  height: 17rem;
  padding-top: 50px;
  margin-left: -5rem;
}

.moto {
  font-size: 16px; 
  font-weight: 600;
  line-height: 2; 
  white-space: normal; 
  text-align: center;
  flex-grow: 1; 
  margin: 0 -4rem;
} 

/*-----search bar-----*/
.search {
  width: 80%;
  position: relative;
  display: flex;
}
.search-bar{
  width: 100%;/* rep---------------------------*/

}

.searchTerm:focus{
  color: #080808;
}
.searchButton {
  width: 50px;
  height: 36px;
  border: 1px solid #050505;
  background: #131414;
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 20px;
}
/*Resize the wrap to see the search bar change!*/

.wrap{
  width: 70%;
  position: relative;
 padding-top: -100px;
  transform: translate(20%, 5%); /* changes for the search bar padding */
}

.part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem; /* change the direction of most searched left to right */
}
.diff-site{
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0  -1rem;
}
.part h2 {
  font-size: 1.3rem;
  margin: 0 3rem;
}

.part a {
  text-decoration: none;
  color: #070707;
  padding: 5px;
}

.part a:hover {
  text-decoration: underline;
}

.part .separator {
  margin: 0 5px;
  color: #000000;
}
/*------slider-----*/
#carouselExampleAutoplaying {
  height: 150px;
  width: 100%;
}

.topic-header{
  display: flex;
  margin: 50px;
  padding-left: 0.5rem;
}
.topic-header h1{
  font-size: 2rem;
  margin: 0 0.5rem;
  font-weight: 700;
  color: #333;
}

.content-portion{
  width: 100%;
}
.work-logo {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.work-logo ul {
  margin: 0 1rem;
  padding: 0;
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  top: 130%;
  left: 45%;
  transform: translate(-49%, -50%);
}

.work-logo ul li {
  list-style: none;
  margin: 50px 5rem; /* to increase or to deacrese the gap between the points */
}
 
.work-logo ul li a {
  position: relative; 
  display: block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  line-height: 3rem;
  background: #64605a;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #050505;
  transition: .8s;
}



.work-logo  span{
  color: #000000;
  font-size: 12px;
  margin: 0.2rem -5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 600;
}

/*---------------------------*/

.content-portion-2 h1 {
  margin: 0 2rem;
  margin-top: 15rem;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.containers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.image-container {
  width: 60%;
  margin-right: 50px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-container {
  width: 70%;
}

.text-container h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #050505;
  text-align: center;
}

.text-container p {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 600;
  text-align: justify;
}

.text-container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.text-container li {
  position: relative;
  margin-bottom: 10px;
  color: #080808;
  left: -1rem;
}

.text-container li::before {
  content: "\f005";
  font-family: FontAwesome;
  position: absolute;
  left: -25px;
  top: 2px;
  color: #000000;
}

.text-container button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
/*-----------imp--------*/

.content-portion3 h1 {
  margin: 0 2rem;
  color: #333;
  margin-top: 50px;
  font-weight: 700;
  font-size: 30px;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.box1 {
  background-color: #fffefe;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 48%;
  height: 5%;
  margin: 2rem 0.2rem;
}
.box2 {
  background-color: #fffefe;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 48%;
  height: 8%;
  margin: -33.6rem 12.2rem;
}
.box h2 {
  color: #030303;
  margin-bottom: 20px;
  text-align: center;
}

.box ul {
  list-style: disc;
  margin-left: 20px;
  padding-left: 0;
}

.box li {
  margin-bottom: 10px;
  text-align: justify;
  font-size: 12px;
}

.box li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
 
}

/* About Portion */
.container3 {
  background-color: #fff;
  padding: 20px;
  margin: 44rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  text-align: justify;
  
}

.container3 h1, h2 {
  margin: 0  -0.5rem;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
}

.container3 p {
  line-height: 1.6;
  margin-bottom: 10px;
  font-size: 16px;
}

.list {
  margin-top: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/*---------cards------*/
.topic-header5{
  display: flex;
  margin: -20rem 1rem;
  }
  .topic-header5 h1{
    font-weight: 700;
  color: #333;
  margin: -14rem 0;
  }

#provider-cards{
  margin: 10rem 0.1rem; 
}
.container{
  display:grid;
  transition: all 0.3s ease-in;
  justify-content:space-evenly;
  flex-wrap:wrap;
  grid-template-columns: 1fr 1fr;
}
.card {
  position: relative;
  width: 11rem;
  margin-top:2rem; /* this one is used to reduce the gap btw heading and footer */
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
  background-size: cover;
  height: 19rem;
  transition: all 0.5s ease-in;
  overflow: hidden;
}
.card h2{
  font-size: 20px;
  font-weight: 700;
}
.card img {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 140px;
  background-color: #2b2b2b80;
  border: 1px solid #d3d3d37e;
  padding: 0px 10px;
  margin: 0px;
  transition: all 0.5s ease-in;
  color: white;
}
.heading {
  text-align: center;
  margin: 0px;
  letter-spacing: 2px;
  margin-top: 3px;
}
.address {
  font-size: 10px;
  color: lightgrey;
  text-align: center;
  margin-top: 3px;
}
.tag-head {
  font-size: 10px;
  margin: 0px;
  margin-top: 5px;
}
.tags {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px -3px;
}
.tag {
  padding: 5px;
  font-size: 8px;
  border: 2px solid gray;
  border-radius: 3px;
  margin: 0px;
}
.bottom-panel {
  margin: -10px 0px;
  display: flex;
  justify-content: space-between;
}
.bottom-panel .section {
  text-align: center;
}
.bottom-panel .section p {
  margin: 10px 0;
  font-size: 11px;
}
.card:hover .overlay {
  top: -210px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  backdrop-filter: blur(2px);
}
.hidden h4 {
  margin: 8px 0px;
}
.abt-txt {
  margin: 0px;
  height: 100px;
  overflow-y: scroll;
  line-height: 20px;
  font-size: 10px !important;
}
.hidden p{
  margin:0px;
  margin-top:5px;
  line-height: 15px;
  font-size: 11px;
}
.badge-head{
  margin:4px 0px;
  
}
.badge{
  display:flex;
  margin-top:6px;
  justify-content:space-between;
}
.badge i {
  font-size:15px;
  color:gold;
}
.badge button{
  margin-top:10px;
  padding:5px 7px;
  border-radius:5px;
  transition:all 0.3s ease;
  border:1px solid grey;
  margin-bottom:10px;
}
.visit{
  margin-right:4px;
  background:lightgreen;
}
.visit:hover{
  color:white;
  background-color:green;
}
.chat{
  margin-right:10px;
  background:transparent;
  color:white;
}
.chat i{
  margin-left:5px;
}
.chat:hover{
  color:white;
  background-color:green;
}
 /*----------footer------*/

 footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: left;
 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  margin-right: 10px;
  width: 30%;
  height: auto;
}

.quick-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 text-align: left;
}

.quick-links a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.quick-links a:hover {
  text-decoration: underline;
}

}
