/* CSS for top_head Section */
body{
    background-color: purple !important;
}
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_head {
  background-color: white;
  padding: 1px 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.social-media a {
  text-decoration: none;
}
.social-media i {
  font-size: 22px;
  margin-right: 10px;
}
.social-media a .fa-square-facebook {
  color: rgb(21, 114, 255);
}
.social-media a .fa-x-twitter {
  color: black;
}

.topright {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.topright a {
  color: black;
  text-decoration: none;
  padding: 0px 10px 0px 5px;
  border-right: 1px solid rgb(66, 66, 66);
}

.languagechanger {
  background-color: #ffa07a;
  color: #ffffff;
  padding: 5px 10px;
  text-align: center;
  border: none;
  text-decoration: none;
  display: inline-block;
  border: none !important;
}

.languagechanger:hover {
  background-color: #ff8c00;
}

.sizechanger a {
  margin: 0 5px;
  border: none;
  padding: 0px;
}

/* CSS for top_middle Section */
.top_middle {
  padding: 0px 50px;
}
.nav-container {
  padding: 10px 0px;
  width: 100%;
}
.Site-logo {
  display: flex;
}
.Site-logo img {
  width: 13rem;
  height: 11rem;
}

.moto {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: normal;
  padding-left: 50px;
  flex-grow: 1;
  /* background-color: firebrick; */
  line-height: 1.2;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: flex;
}
.cursor {
  display: inline-block;
  width: 4px;
  background-color: #333;
  margin-left: 2px;
  animation: blink-caret 0.75s step-end infinite;
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

/*------------------search bar----------------*/
.search-br {
  padding: 0px 50px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.navbar {
  padding: 0px !important;
}
.search-area {
  display: flex;
  align-items: center;
  background-color: #e1e1e1;
  background-image: url("https://res.cloudinary.com/djzomy8vf/image/upload/v1723019316/noise_bg_1_bwoiyr.png");
  background-size: cover;
  background-blend-mode: difference;
  padding: 15px 50px;
  justify-content: space-between;
  width: 100%;
}
.search-element {
  position: relative;
  display: flex;
  width: 280px;
}
.searchTerm {
  width: 100%;
  border: 3px solid #0c0c0c;
  border-left: none;
  padding: 15px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
  outline: none;
  color: #080808;
}
.search-btn {
  position: absolute;
  right: 0px;
  height: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: rgb(12, 0, 32);
  transition: all 0.3s ease;
  z-index: -1;
  opacity: 0;
}
.searchTerm:focus + .search-btn {
  right: -35px;
  z-index: 0;
  opacity: 1;
}
.searchTerm:focus {
  color: #080808;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #050505;
  background: #131414;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/

.wrap {
  position: relative;
  width: 50%;
}

.part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.diff-site {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.part h2 {
  font-size: 1.8rem;
  align-items: center;
  margin: 0;
  line-height: 25px;
  color: #333;
  font-family: "Times New Roman", Times, serif;
}

.part a {
  text-decoration: none;
  color: #070707;
}

.part a:hover {
  text-decoration: underline;
}

.part .separator {
  margin: 0 5px;
  color: #6c757d;
}

/* Slider Portion */
#carouselExampleAutoplaying {
  height: 400px;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  width: 100%;
}

/* Content Portion */
.topic-header {
  display: flex;
  margin: 30px;
  padding-left: 6.2rem;
}
.topic-header h1 {
  font-size: 3.5rem;
}

.work-logo {
  position: relative;
  padding: 40px;
}
.work-logo {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: -80px 20rem;
}

.work-logo ul {
  margin: 0 19rem;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work-logo ul li {
  list-style: none;
  margin: 0 4.5rem; /* to increase or to deacrese the gap between the points */
}

.work-logo ul li a {
  position: relative;
  display: block;
  width: 7rem;
  height: 7rem;
  text-align: center;
  line-height: 6.5rem;
  background: #64605a;
  border-radius: 50%;
  font-size: 3.5rem;
  color: #050505;
  transition: 0.8s;
}

.work-logo li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.work-logo ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.work-logo ul li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

.work-points p {
  display: inline-flex;
  justify-content: space-between;
  margin: 0.5rem -3rem;
  padding: 7rem 5rem;
  font-size: 18px;
  font-weight: bold;
}
.work-points {
  margin: 0 2.5rem;
  padding-left: 45px;
}

/* Service Provider Section */

.que2 {
  display: flex;
  margin: -5rem 30px;
  padding-left: 6.2rem;
}
.que2 h1 {
  font-size: 3rem;
}

.provider-img {
  display: flex;
  margin: 5rem 8rem;
}
.provider-img img {
  width: 25rem;
  height: auto;
}
.que-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: -27rem 0;
  padding-left: 39rem;
}
.que-content p {
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 10px; /* Adjust the space between paragraphs as needed */
  position: relative;
  padding-left: 30px;
}
.que-content p::before {
  content: "★";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2em;
  line-height: 1.3;
  color: black;
}
.que-button {
  display: flex;
  justify-content: space-around;
  margin: 28rem;
  border-style: solid;
  border-radius: 25px;
  width: 6.4rem;
  height: 2.4rem;
  background: #050505;
  border-color: #050505;
  margin-left: 60rem;
}
.que-button a {
  color: #f8f9fa;
  text-decoration: none;
  font-size: 20px;
}

.que-button :hover {
  color: chartreuse;
}
/* Important points for client portion */
.topic-header3 {
  display: flex;
  margin: -26rem 30px;
  padding-left: 6.2rem;
}
.topic-header3 h1 {
  font-size: 3rem;
}
.do-part h3 {
  font-weight: 700;
}
.do-part p {
  margin-top: 0;
  margin-bottom: 1px;
  position: relative;
  padding: 4px;
}
.do-part p::before {
  content: "•";
  position: absolute;
  left: -15px;
  top: -10px;
  font-size: 2.2em;
  line-height: 2;
  color: black;
}
.do-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 2rem;
  position: relative;
  margin: 28rem 9rem;
  width: 30rem;
  height: 20rem;
  border-style: solid;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
}
.dont-part {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 2rem;
  position: relative;
  margin: -48rem 42rem;
  width: 30rem;
  height: 20rem;
  border-style: solid;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}
.dont-part h3 {
  font-weight: 700;
}
.dont-part p {
  margin-top: 0;
  margin-bottom: -2px;
  position: relative;
}
.dont-part p::before {
  content: "•";
  position: absolute;
  left: -15px;
  top: -10px;
  font-size: 2.2em;
  line-height: 2;
  color: black;
}

/* About Portion */
#about-part {
  position: relative;
  padding-top: 50rem;
}
.topic-header4 {
  display: flex;
  margin: 0 8rem;
}
.about-content {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  margin: 1rem 8rem;
  font-size: 20px;
}
.about-content2 {
  display: flex;
  margin: 1rem 8rem;
  flex-direction: column;
  gap: 12px;
}

/* cards contents */
#cards {
  display: flex;
  margin: 2rem 7.3rem;
}
.topic-header5 {
  margin: 2rem 7.2rem;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  font-family: sans-serif;
}
#provider-cards {
  display: flex;
  margin: -10rem 5rem;
}
.container {
  display: flex;
  transition: all 0.3s ease-in;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10rem 0;
}
.card-1 {
  background-image: url("https://cdn.pixabay.com/photo/2020/09/18/22/05/man-5583034_1280.jpg");
}
.card-2 {
  background-image: url("https://p1.pxfuel.com/preview/269/966/361/black-businessman-black-professional-professional-success-young-corporate.jpg");
}
.card-3 {
  background-image: url(https://cdn.pixabay.com/photo/2024/05/29/08/03/ai-generated-8795643_960_720.jpg);
}
.card-4 {
  background-image: url(https://cdn.pixabay.com/photo/2023/04/28/23/30/ai-generated-7957452_1280.png);
}
.card {
  position: relative;
  width: 16rem;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  background-size: cover;
  height: 23rem;
  transition: all 0.5s ease-in;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 155px;
  background-color: #2b2b2b80;
  border: 1px solid #d3d3d37e;
  padding: 0px 10px;
  margin: 0px;
  transition: all 0.5s ease-in;
  color: white;
}
.heading {
  text-align: center;
  margin: 0px;
  letter-spacing: 2px;
  margin-top: 3px;
}
.address {
  font-size: 11px;
  color: lightgrey;
  text-align: center;
  margin-top: 3px;
}
.tag-head {
  font-size: 12px;
  margin: 0px;
  margin-top: 5px;
}
.tags {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 3px;
}
.tag {
  padding: 5px;
  font-size: 12px;
  border: 2px solid gray;
  border-radius: 3px;
  margin: 0px;
}
.bottom-panel {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.bottom-panel .section {
  text-align: center;
}
.bottom-panel .section p {
  margin: 10px 0;
  font-size: 13px;
}
.card:hover .overlay {
  top: -210px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  backdrop-filter: blur(2px);
}
.hidden h4 {
  margin: 8px 0px;
}
.abt-txt {
  margin: 0px;
  height: 90px;
  overflow-y: scroll;
  line-height: 20px;
  font-size: 11px !important;
}
.hidden p {
  margin: 0px;
  margin-top: 5px;
  line-height: 20px;
  font-size: 13px;
}
.badge-head {
  margin: 5px 0px;
}
.badge {
  display: flex;
  margin-top: 6px;
  justify-content: space-between;
}
.badge i {
  font-size: 25px;
  color: gold;
}
.badge button {
  margin-top: 10px;
  padding: 5px 7px;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 1px solid grey;
  margin-bottom: 10px;
}
.visit {
  margin-right: 10px;
  background: lightgreen;
}
.visit:hover {
  color: white;
  background-color: green;
}
.chat {
  margin-right: 10px;
  background: transparent;
  color: white;
}
.chat i {
  margin-left: 5px;
}
.chat:hover {
  color: white;
  background-color: green;
}
/* footer portion */

footer {
  background-color: #141414;
  padding: 0;
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  align-items: center;
  margin: -154rem 0;
}

.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  margin-left: 7rem;
  width: 10rem;
  height: 10rem;
}
.logo img {
  height: 100%;
  width: 100%;
}
.footer-text p {
  margin-top: 10px;
  margin-left: 8rem;
}
.footer-text p a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15.5px;
}
.footer-text p {
  color: wheat;
  font-size: 18px;
}

.footer-text a:hover {
  color: #23527c; /* darker blue color on hover, you can change it to your desired color */
}
