<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/providerForm.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script>
      const allTags = <%- JSON.stringify(allTags) %>;
    </script>
    <title>Sign Up</title>
  </head>
  <body>
    <div class="outer-container">
      <div class="outer-child-container">
        <div class="left-section">
          <div class="welcome-card">
            <div class="logo-container">
              <img
                src="https://res.cloudinary.com/djzomy8vf/image/upload/v1723018397/sitelog_tmaldf.png"
                alt="logo.png"
              />
            </div>
            <div class="logo-heading">
              <div class="inner-block" style="text-align: left">
                <h2>Sign Up</h2>
                <p class="tagline">Tell us more about you</p>
              </div>
            </div>
          </div>
          <div class="steps" id="steps-container">
            <p class="step">1</p>
            <p id="step-2" class="step active-step">2</p>
            <p id="step-3" class="step">3</p>
          </div>
        </div>
        <div class="right-section">
          <div class="login-form-parent-container">
            <div class="login-form-child-container">
              <form
                id="details-form"
                method="POST"
                action="/signup/provider/<%= id %>"
              >
                <div class="field">
                  <textarea name="bio" placeholder=" " required></textarea>
                  <label for="bio">
                    Write a good introduction of yourself...</label
                  >
                </div>
                <div class="field">
                  <input
                    type="number"
                    name="experience"
                    placeholder=" "
                    required
                  />
                  <label for="experience"> Experience(in years)</label>
                </div>
                <div class="field-row">
                  <div class="field">
                    <input
                      type="text"
                      name="location[state]"
                      placeholder=" "
                      autocomplete="state"
                      required
                    />
                    <label for="state"> State</label>
                  </div>
                  <div class="field">
                    <input
                      type="text"
                      name="location[city]"
                      placeholder=" "
                      autocomplete="city"
                      required
                    />
                    <label for="city"> City</label>
                  </div>
                </div>
                <div class="field-row">
                  <div class="field">
                    <input
                      type="text"
                      name="location[country]"
                      placeholder=" "
                      autocomplete="country"
                      required
                    />
                    <label for="country"> Country</label>
                  </div>
                  <div class="field">
                    <input
                      type="number"
                      name="location[pincode]"
                      placeholder=" "
                      autocomplete="email"
                      required
                    />
                    <label for="pincode"> Pincode</label>
                  </div>
                </div>
                <button type="button" id="nextPage" class="btn btn-1">
                  Next
                </button>
                <div id="tag-page" class="sp">
                  <div class="tags">
                    <h6>
                      Add tags which define your work, so that people can find
                      you easily
                    </h6>
                    <div class="tag-container">
                      <div class="field">
                        <input id="name" placeholder="" style="height: 40px" />
                        <label for="tag">Enter a tag name here</label>
                      </div>
                      <button type="button" id="add">
                        <i class="fa-solid fa-arrow-right"></i>
                      </button>
                      <div class="tag-box">
                        <div class="tag-div" id="added-tags"></div>
                        <div
                          class="tag-div"
                          id="existing-tags"
                          style="border-left: 1px solid black"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="selectedTags" id="selectedTags" />
                  <button class="btn btn-1">
                    Sign Up <i class="fa-solid fa-right-to-bracket"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div id="back-page" class=""><i class="fa-solid fa-left-long"></i></div>
        </div>
      </div>
    </div>
    <script>
      let addBtn = document.getElementById("add");
      let nameInput = document.getElementById("name");
      let addedTags = document.getElementById("added-tags");
      let existingTags = document.getElementById("existing-tags");
      let selectedTagsInput = document.getElementById("selectedTags");
      let selectedTags = [];
      let tagArray = [];

      for (tag of allTags) {
        tagArray.push(tag.name);
      }

      for (let i = 0; i < tagArray.length; i++) {
        let newElement = document.createElement("button");
        newElement.innerText = tagArray[i] + " +";
        newElement.value = tagArray[i];
        newElement.classList.add("tag");
        newElement.type = "button";
        existingTags.appendChild(newElement);
      }

      function updateAddedTags() {
        addedTags.innerHTML = "";
        selectedTags.forEach((tag) => {
          let newElement = document.createElement("button");
          newElement.innerText = tag + " x";
          newElement.value = tag;
          newElement.classList.add("tag", "addedTag");
          newElement.type = "button";
          newElement.addEventListener("click", () => {
            selectedTags = selectedTags.filter((val) => val !== tag);
            let correspondingButton = document.querySelector(
              `.tag[value="${tag}"]:not(.addedTag)`
            );
            if (correspondingButton) {
              correspondingButton.classList.remove("disabled");
              correspondingButton.ariaDisabled = false;
            }
            updateAddedTags();
            console.log(selectedTags);
          });
          addedTags.appendChild(newElement);
        });
      }

      document.querySelectorAll(".tag").forEach((button) => {
        button.addEventListener("click", () => {
          if (!button.classList.contains("disabled")) {
            selectedTags.push(button.value);
            button.ariaDisabled = true;
            button.classList.add("disabled");
            updateAddedTags();
            console.log(selectedTags);
          }
        });
      });

      addBtn.addEventListener("click", () => {
        let newTag = nameInput.value.trim();
        if (newTag && !selectedTags.includes(newTag)) {
          selectedTags.push(newTag);
          updateAddedTags();
          nameInput.value = "";
        }
      });
      document
        .getElementById("details-form")
        .addEventListener("submit", function (event) {
          selectedTagsInput.value = JSON.stringify(selectedTags);
        });

      document.addEventListener("DOMContentLoaded", function () {
        const nextPage = document.getElementById("nextPage");
        const tagPage = document.getElementById("tag-page");
        const step3 = document.getElementById("step-3");
        const step2 = document.getElementById("step-2");
        const backPage = document.getElementById("back-page");
        const newWidth = 50 + "%";
        document
          .querySelector(".steps")
          .style.setProperty("--progress-width", newWidth);

        nextPage.addEventListener("click", () => {
          backPage.classList.add("show-backPage")
          tagPage.classList.add("show-page");
          step2.classList.remove("active-step");
          step3.classList.add("active-step");
          const newWidth = 100 + "%";
          document
            .querySelector(".steps")
            .style.setProperty("--progress-width", newWidth);
        });
        backPage.addEventListener("click",()=>{
          backPage.classList.remove("show-backPage")
          tagPage.classList.remove("show-page");
          step2.classList.add("active-step");
          step3.classList.remove("active-step");
          const newWidth = 50 + "%";
          document
            .querySelector(".steps")
            .style.setProperty("--progress-width", newWidth);
        })
      });
    </script>
  </body>
</html>
