<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <h2>SignUp</h2>
    <form action="/signup" method="POST">
      <div class="field">
        <label for="firstName">First name</label>
        <input type="text" name="firstName" id="firstName" required />
      </div>
      <br /><br />
      <div class="field">
        <label for="lastName">Last name</label>
        <input type="text" name="lastName" id="lastName" required />
      </div>
      <br /><br />
      <div class="field">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
      </div>
      <br /><br />
      <div class="field">
        <label for="firstName">First name</label>
        <input type="text" name="firstName" id="firstName" required />
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
      </div>
    </form>
  </body>
</html>
