<% if (success && success.length) { %>
  <div class="toasttt success-toast" id="successToast">
    <%= success %>
  </div>
<% } %>

<% if (error && error.length) { %>
  <div class="toasttt error-toast" id="errorToast">
    <%= error %>
  </div>
<% } %>

