<footer>
  <div class="footer-container">
    <div class="logo">
      <img
        src="https://res.cloudinary.com/djzomy8vf/image/upload/v1723018397/sitelog_tmaldf.png"
      />
    </div>
    <div class="footer-text">
      <p><b>Quick Links</b></p>
      <p><a href="">Home</a></p>
      <p><a href="">Provider</a></p>
      <p><a href="">Client</a></p>
    </div>
  </div>
</footer>
