<!-- First Navbar: top_head -->
<div class="top_head">
  <div class="head-container">
    <div class="topleft">
      <span class="social-media">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </span>
    </div>
    <div class="topright d-flex align-items-center justify-content-between">
      <a href="#main" class="skip border-">Skip to main content</a>
      <a href="/homepage" class="skip border-">Home</a>
      <a href="/marketplace" class="skip border-">Marketplace</a>
      <%if(currUser.user_type == "client"){%>
      <a href="/client/dashboard/<%=currUser._id%>" class="skip border-">Dashboard</a>
      <%}else if(currUser.user_type == "provider"){%>
        <a href="/provider/dashboard/<%=currUser._id%>" class="skip border-">Dashboard</a>
      <%}%>
      <%if(!currUser){%>
        <a href="/login" class="login">Log In</a>
        <a href="/signup" class="login">Sign Up</a>
      <%}else{%>
        <a href="/logout" class="logout">Log Out</a>
      <%}%>
      <span class="sizechanger">
        <a href="#" class="text_size_decrease changer" onclick="Decrease()"
          >-A</a
        >
        <a href="#" class="text_size_reset changer" onclick="Reset()">A</a>
        <a href="#" class="text_size_increase changer" onclick="Increase()"
          >+A</a
        >
      </span>
      <a href="#" class="languagechanger" onclick="Language()">हिन्दी</a>
    </div>
  </div>
</div>

<!-- Second Navbar: top_middle -->
<div class="top_middle sticky" id="Home">
  <div class="nav-container d-flex justify-content-between align-items-center">
    <span class="Site-logo"
      ><img
        src="https://res.cloudinary.com/djzomy8vf/image/upload/v1723018397/sitelog_tmaldf.png"
    /></span>
    <span class="moto">
      <h1 id="moto-text"></h1>
    </span>
  </div>
</div>
<!-----------------search bar area-------------->
<div class="search-bar">
  <nav class="navbar">
    <div class="search-area">
      <div class="wrap">
        <div class="search">
          <div class="search-element">
            <div class="searchButton">
              <i class="fa fa-search"></i>
            </div>
            <form action="/search" method="POST">
              <input
                type="text"
                name="search"
                placeholder="Lawyers near me"
                class="searchTerm"
              />
              <button class="search-btn" type="submit">
                <i class="fa-solid fa-circle-arrow-right"></i>
              </button>
            </form>
          </div>
          <!-- <select name="State" id="" >
          <option value="Select">select state</option>
          <option value="Raipur">Raipur</option>
        </select> -->
        </div>
      </div>
      <div class="part">
        <h2>Most<br />Searched</h2>
        <div class="diff-site">
          <form action="/search" method="POST">
            <input type="hidden" name="search" value="lawyer" />
            <button>Lawyer</button>
          </form>
          <form action="/search" method="POST">
            <input type="hidden" name="search" value="notary" />
            <button>Notaries</button>
          </form>
          <form action="/search" method="POST">
            <input type="hidden" name="search" value="mediator" />
            <button>Meditators</button>
          </form>
          <form action="/search" method="POST">
            <input type="hidden" name="search" value="arbitrator" />
            <button>Arbitrators</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</div>
