<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navbar</title>
    <link rel="stylesheet" href="/css/nav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <nav class="top-nav-ribbon">
      <div class="lt-part">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
      </div>
      <div class="rt-part">
        <a href="#content">Skip to main content</a>
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        <button>-A</button>
        <button>A</button>
        <button>+A</button>
        <button>हिंदी</button>
      </div>
    </nav>
  </body>
</html>
