<% layout("/layouts/boilerplate") -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    provider: <%=sessionData.providerId%>
    <br />
    client: <%=sessionData.clientId%>
    <form
      action="booking/<%=sessionData.clientId%>/<%=sessionData.providerId%>"
      method="POST"
      id="appointmentForm"
    >
      <input type="date" name="date" id="" />
      <textarea name="description" id="">Description</textarea>
      <button type="submit">Submit</button>
    </form>
    
  </body>
</html>
