<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    User: <%=currUser._id%>
    <form action="/changePassword/<%=currUser._id%>" method="post">
        <input type="password" placeholder="old pass" name="old_pass" id="">
        <input type="password" placeholder="new pass" name="new_pass" id="">
        <button type="submit">submit</button>
    </form>
</body>
</html>