<% layout("/layouts/boilerplate") -%>

<div class="form-container" id="main">
  <form action="/login" method="POST" class="loginForm">
    <h2>Login</h2>
    <div class="field">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        value="adam143"
        required
      />
    </div>
    <br /><br />
    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        value="adam@123"
        required
      />
    </div>
    <button>Login</button>
  </form>
</div>
