<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/login1.css" />
    <link rel="stylesheet" href="/css/flash.css" />
    <!-- <link rel="stylesheet" href="/css/styles.css" /> -->
    <title>LegalEase</title>
  </head>
  <body>
    <%- include("../includes/flash.ejs")%>
    <div class="container">
      <div class="login-box">
        <div class="logo">
          <img
            src="https://github.com/Kas-Sai/testing/blob/main/New%20folder/sitelog.png?raw=true "
            alt="Logo"
          />
        </div>
        <h3>Log In</h3>
        <form action="/login" method="POST" class="mr-lg">
          <div class="sub-heading"><span>Email or Phone</span></div>
          <div class="input-group">
            <input
              type="text"
              name="username"
              autocomplete="username"
              placeholder="Email or Phone"
              required
            />
          </div>
          <div class="sub-heading"><span>Password</span></div>
          <div class="input-group pass-field">
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
            <button type="button" id="show-btn">
              <i class="fa-solid fa-eye-slash"></i>
            </button>
          </div>
          <a href="#" class="forgot-password">Forget Password</a>
          <div class="input-group">
            <button type="submit" class="btn">Log In</button>
          </div>
          <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        </form>
        <button class="google-login">
          <img
            src="https://github.com/Kas-Sai/testing/blob/main/New%20folder/Google.png?raw=true"
            alt="Google Icon"
          />
          Login with Google
        </button>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/flash.js"></script>
    <!-- <script>
      // const showBtn = document.getElementById("show-btn");
      // const password = document.querySelector("input[type='password']");
      // showBtn.addEventListener("click", () => {
      //   if (password.type === "password") {
      //     password.type = "text";
      //     showBtn.innerHTML = '<i class="fa-solid fa-eye"></i>';
      //   } else {
      //     password.type = "password";
      //     showBtn.innerHTML = '<i class="fa-solid fa-eye-slash"></i>';
      //   }
      // });
    </script> -->
    <script src="/js/password-input.js"></script>
  </body>
</html>
