<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="outer-container">
      <div class="outer-child-container">
        <div class="left-section">
          <div class="welcome-card">
            <div class="logo-container">
              <img
                src="https://res.cloudinary.com/djzomy8vf/image/upload/v1723018397/sitelog_tmaldf.png"
                alt="logo.png"
              />
            </div>
            <div class="logo-heading">
              <div class="inner-block" style="text-align: left">
                <h2>Sign Up</h2>
                <p class="tagline">Be a part of LegalEase Community</p>
              </div>
            </div>
          </div>
          <div class="steps" id="steps-container">
            <p class="step active-step">1</p>
            <p class="step">2</p>
            <p class="step">3</p>
          </div>
        </div>
        <div class="right-section">
          <div class="login-form-parent-container">
            <div class="login-form-child-container">
              <form
                method="POST"
                action="/signup"
                enctype="multipart/form-data"
              >
                <div class="field-row">
                  <div class="field">
                    <input
                      type="text"
                      name="first_name"
                      placeholder=" "
                      autocomplete="first_name"
                      required
                    />
                    <label for="first_name"> First name</label>
                  </div>
                  <div class="field">
                    <input
                      type="text"
                      name="last_name"
                      placeholder=" "
                      autocomplete="last_name"
                      required
                    />
                    <label for="last_name"> Last name</label>
                  </div>
                </div>
                <div class="field-row">
                  <div class="field">
                    <input
                      type="text"
                      name="username"
                      placeholder=" "
                      autocomplete="username"
                      required
                    />
                    <label for="username"> Enter username</label>
                  </div>
                  <div class="field">
                    <input
                      type="email"
                      name="email"
                      placeholder=" "
                      autocomplete="email"
                      required
                    />
                    <label for="email"> Your email</label>
                  </div>
                </div>
                <div class="field">
                  <input
                    type="number"
                    maxlength="10"
                    name="phone_number"
                    placeholder=" "
                    autocomplete="phone_number"
                    required
                  />
                  <label for="phone_number"> Phone number</label>
                </div>
                <div class="field">
                  <input
                    type="file"
                    name="user[image]"
                    placeholder=" "
                    required
                  />
                  <label for="image"> Upload Image</label>
                </div>
                <div class="field">
                  <input
                    type="password"
                    name="password"
                    placeholder=" "
                    required
                  />
                  <label for="password"> Set password</label>
                </div>
                <div class="toggleBtn">
                  <p>Join us as</p>
                  <div class="toggle-container">
                    <input
                      type="hidden"
                      name="user_type"
                      id="selected-value"
                      value="client"
                    />
                    <input type="checkbox" id="toggle-button" />
                    <div for="toggle-button" class="toggle-div">
                      <span class="toggle-text provider">Provider</span>
                      <span class="toggle-text client">Client</span>
                      <span class="toggle-slider"></span>
                    </div>
                  </div>
                </div>
                <p>Already a user? <a href="/login">Log In</a></p>
                <button class="btn btn-1">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const toggleButton = document.getElementById("toggle-button");
      const toggleDiv = document.querySelector(".toggle-div");
      const selectedValue = document.getElementById("selected-value");
      const stepsContainer = document.getElementById("steps-container");

      toggleDiv.addEventListener("click", function () {
        toggleButton.checked = !toggleButton.checked;
        if (toggleButton.checked) {
          stepsContainer.style.display = "flex";
          selectedValue.value = "provider";
        } else {
          stepsContainer.style.display = "none";
          selectedValue.value = "client";
        }
        console.log(selectedValue.value);
      });
    </script>
  </body>
</html>
